In [14]:
import requests
import pandas as pd
import numpy as np
import uncurl
import subprocess
import pdb

In [15]:
path2 = "/Users/jackiemartinez/Downloads/discharge15seconds.txt"

In [39]:
import numpy as np
path = "/Users/jackiemartinez/Downloads/gageheight.txt"

In [9]:
##d = np.loadtxt(path2,skiprows=28)

d = pd.read_table(path2, skiprows=26)

In [12]:
df = d[['20d','14n']]
df.columns = ['timestamp','discharge']
df.to_csv("discharge15s.csv")

In [46]:
df = pd.read_csv("gageheight.csv")

In [47]:
df = df[(df['year']==2016) & (df['month']==9.0)&(df['day']>=6.0)&(df['day']<=12.0)].reset_index(drop="true")[['year','month','day','minute','height']]

In [48]:
df['date'] = df.apply(lambda r: str(int(r.year))+"-"+str(int(r.month))+"-"+str(int(r.day)), axis=1)

In [49]:
df.head()

     year  month  day  minute  height      date
0  2016.0    9.0  6.0    15.0   11.95  2016-9-6
1  2016.0    9.0  6.0    30.0   11.94  2016-9-6
2  2016.0    9.0  6.0    45.0   11.92  2016-9-6
3  2016.0    9.0  6.0    60.0   11.91  2016-9-6
4  2016.0    9.0  6.0    75.0   11.89  2016-9-6

In [50]:
df.to_csv("experimentheight.csv")